<div class="container-fluid sectionHeight">
  <div class="row justify-content-center">
    <div
      *ngFor="let data of entertainmentDisplayData"
      class="card col-3 m-3 p-0"
      style="width: 18rem"
    >
      <img
        *ngIf="data.image_url != null"
        src="{{ data.image_url }}"
        class="card-img-top"
        alt="..."
      />
      <img
        *ngIf="data.image_url == null"
        src="../../assets/nodata.jpg"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">{{ data.title }}</h5>
        <p class="card-text">
          {{ data.content }}
        </p>
      </div>
      <div class="row mx-0">
        <a href="{{ data.link }}" target="_blank" class="btn">Read more... </a>
      </div>
    </div>
  </div>
</div>
